.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* Total height of the container */
}

.vertical-line {
    position: relative;
    width: 4px;
    height: 300px;
    /* Total height of the line */
    background-color: #acacac;
}

.vertical-dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d4d4d4;
}

/* Adjust the positions of the dots */
.vertical-dot:nth-child(1) {
    top: 0;
}

.vertical-dot:nth-child(2) {
    top: 100px;
}

.vertical-dot:nth-child(3) {
    top: 200px;
}

.vertical-dot:nth-child(4) {
    top: 300px;
}